.footer {
    width: 100%;
    height: 100px;

    &_separation {
        width: 100%;
        height: 3px;
        background: white;
    }

    &_link {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
}