* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}




.header {
  &_container {
    display: flex;

    &-title {
      color: white;
      font-family: 'Rope MF';
      text-align: center;
      font-size: 60px;
      font-weight: lighter;
      padding-top: 20px;
      padding-left: 20px;
    }
  }

  &_separation {
    width: 100%;
    height: 3px;
    background: white;
  }
}