@import './components/header';
@import './components/footer';

body {
    width: 375px;
    height: 812px;
    background-image: url(/assets/images/background-two.png);
}

a {
    text-decoration: none;
}


.welcome {
    &_text {
        text-align: center;
        color: white;
        font-size: 17px;
        font-family: 'Titillium Web';
        margin-top: 16px;
        font-weight: bold;

        &-modif {
            font-size: 20px;
            text-decoration: underline;
        }
    }
}

.weektips {
    width: 250px;
    height: 70px;
    background-color: rgba(24, 71, 76, 0.6);
    border: solid 3px #3E969A;
    border-radius: 40px;
    margin: 40px auto;
    text-align: center;

    &-name {
        font-family: 'Titillium Web';
        font-size: 24px;
        color: white;
        padding-top: 13px;
    }
}

.number {
    width: 340px;
    height: 230px;
    background: rgba(106, 156, 168, 0.4);
    margin: 0 auto;

    &_one {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 24px;
        padding-top: 30px;
        font-weight: bold;
        font-family: 'Titillium Web';
    }

    &_two {
        width: 90%;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 24px;
        padding-top: 30px;
        font-weight: bold;
        font-family: 'Titillium Web';

        &-img {
            width: 50px;
            height: 50px;
            margin-top: 20px;
        }
    }
}

.footer {
    margin-top: 100px;
}