body {
    background-image: url(../assets/images/background-one.png);
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

a {
    color: rgb(255, 0, 0);
    font-family: 'Titillum Web';
}

.header {
    display: flex;

    &_title {
        color: white;
        font-family: 'Rope MF';
        text-align: center;
        font-size: 60px;
        font-weight: lighter;
        padding-top: 20px;
        padding-left: 20px;
    }
}

.mid {
    width: 373px;
    height: 70px;
    background-color: rgba(56, 135, 129, 0.4);
    margin-top: 30px;
    border: solid 1px #5D4949;

    &_content {
        &-name {
            color: white;
            font-family: 'Rope MF';
            font-weight: lighter;
            font-size: 30px;
            text-align: center;
            padding-top: 17px;
        }
    }
}

.pres {
    color: white;
    font-family: 'Titillium Web';
    font-weight: lighter;
    font-size: 17px;
    text-align: center;
    text-align: center;
}

.quizz {
    width: 90%;
    height: 380px;
    margin: 20px auto;
    background: white;
    opacity: 0.5;
    font-family: 'Titillium Web';
    font-size: 30px;
    text-align: center;
}



.footer {
    float: right;
}