body {
    background-image: url(../assets/images/background-one.png);
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

a {
    color: rgb(255, 0, 0);
    font-family: 'Titillum Web';
}

input {
    width: 200px;
    height: 20px;
    background: #266163;
    color: white;
}

.header {
    display: flex;

    &_title {
        color: white;
        font-family: 'Rope MF';
        text-align: center;
        font-size: 60px;
        font-weight: lighter;
        padding-top: 20px;
        padding-left: 20px;
    }
}

.mid {
    width: 373px;
    height: 70px;
    background-color: rgba(56, 135, 129, 0.4);
    margin-top: 30px;
    border: solid 1px #5D4949;

    &_content {
        &-name {
            color: white;
            font-family: 'Rope MF';
            font-weight: lighter;
            font-size: 30px;
            text-align: center;
            padding-top: 17px;
        }
    }
}

.recup {
    width: 250px;
    display: flex;
    margin: 80px auto;

    &_content {
        &-input {
            padding-top: 20px;
            color: white;
            font-size: 20px;
            font-family: 'Titillium Web';
        }

        &-text {
            padding-top: 80px;
            color: white;
            font-size: 17px;
            font-family: 'Titillium Web';
        }
    }
}


.footer {
    float: right;
    margin-top: 170px;
}