* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    width: 375px;
    height: 812px;
    background-image: url(../assets/images/background-one.png);

    &_title {
        color: white;
        font-family: 'Rope MF';
        text-align: center;
        font-size: 60px;
        font-weight: lighter;
        padding-top: 20px;
    }

    &_save {
        width: 373px;
        height: 70px;
        background-color: rgba(56, 135, 129, 0.4);
        margin-top: 140px;
        border: solid 1px #5D4949;

        &-name {
            color: white;
            font-family: 'Rope MF';
            font-weight: lighter;
            font-size: 30px;
            text-align: center;
            padding-top: 17px;
        }
    }

    &_infos {
        margin: 150px auto;
        width: 220px;
        text-align: center;
        color: white;
        font-family: 'Titillium Web';

        &-register {
            width: 200px;
            height: 60px;
            background: #123944;
            border-radius: 30px;
            border: solid 1px #707070;

            &-name {
                padding-top: 16px;
            }
        }

        &-login {
            width: 200px;
            height: 60px;
            background: #123944;
            border-radius: 30px;
            margin-top: 50px;
            border: solid 1px #707070;

            &-name {
                padding-top: 16px;
            }
        }
    }
}