@import './components/header';
@import './components/footer';

body {
    width: 375px;
    height: 812px;
    background-image: url(/assets/images/background-two.png);
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.list_two {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.list_three {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer {
    margin-top: 20px;
}