@import './components/header';
@import './components/footer';

body {
    width: 375px;
    height: 812px;
    background-image: url(/assets/images/background-three.png);
}

.weektips {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.weektips-text {
    text-align: center;
    color: white;
    font-family: 'Titillium Web';
    text-decoration: underline;
    font-size: 25px;
}

.text {
    text-align: center;
    color: white;
    font-family: 'Titillium Web';
    font-size: 14px;
}

.apply {
    &-question {
        text-align: center;
        color: white;
        font-family: 'Titillium Web';
        text-decoration: underline;
        font-size: 20px;
        margin-top: 30px;
    }

    &_choice {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        &-yes {
            width: 100px;
            height: 40px;
            background: green;
            border-radius: 50px;
            text-align: center;
            color: white;
            font-family: 'Titillium Web';
            font-size: 20px;
            padding-top: 6px;
        }

        &-no {
            width: 100px;
            height: 40px;
            background: red;
            border-radius: 50px;
            text-align: center;
            color: white;
            font-family: 'Titillium Web';
            font-size: 20px;
            padding-top: 6px;
        }
    }
}

.footer {
    margin-top: 50px;
}